////Variables
///Box Shadows
$inset-shadow-light: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem white;
$inset-shadow-dark: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #AC94FA;
$outset-shadow-light: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
$outset-shadow-dark:   6px 6px 10px #191c20,-6px -6px 10px #1d2022;
$inset-shadow-darkMode: inset 0.2rem 0.2rem 0.5rem #191c20, inset -0.2rem -0.2rem 0.5rem #1d2022;
///Colors
$white: #fff;
$light-background: #F1F3F5;
$purple-300: #CBBFFD;
$purple-400: #AC94FA;
$dark-background: #212529;
////////////////////////////////

///tag selectors
body {
  background-color: $light-background;
  height: 100%;
}

input, textarea{
  color: #868E96 ;
  border-radius: 1rem !important;
  border: none !important;
  background-color: $light-background !important;
  box-shadow: $inset-shadow-light;
}

//id selectors
#root{
  height: 100vh;
}

///full site class selectors 

.header{
  background-color: $light-background!important ;
  box-shadow: none !important;
}

.lightModeIcon{
  filter: invert(74%) sepia(14%) saturate(919%) hue-rotate(208deg) brightness(101%) contrast(106%);
  max-width: 1.125rem;
  padding: 0.0625rem;
}

.cardContainer{
  min-height: 70vh;
  border-radius: 3.125rem;
  border-color: $white;
  background: $light-background;
  box-shadow: $outset-shadow-light;
}

.btn--sm,.btn--xs{
  background-color: $light-background !important;
  border-color: $light-background !important;
  box-shadow: $outset-shadow-light;
}

.current{
  background-color: $purple-300 !important;
  border-color: $purple-300 !important;
  box-shadow: $outset-shadow-light,
  $inset-shadow-dark !important;
}

///landing page class selectors
.avi{
  height: 12.5rem;
  width: 12.5rem;
  min-width: 12.5rem;
  border-radius: 50%;
  background: $light-background;
  box-shadow:$inset-shadow-dark ,
   $outset-shadow-light;
  display: inline-block;
  background-image: url("./assets/avatar.png");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
}
///projects page class selectors
.expCard{
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #c8d0e7;
  background: $light-background;
  border-color: $white;
}

.expCardDiv {
  border-radius: 0.625rem;
  box-shadow: $inset-shadow-light;
}

.expCard::-webkit-scrollbar {
  width: .65rem;
}
 
.expCard::-webkit-scrollbar-track {
  border-radius: 1rem !important;
  background-color: $light-background !important;
  box-shadow: $inset-shadow-light;
}
 
.expCard::-webkit-scrollbar-thumb {
  border-radius: 1rem !important;
  background-color:  $purple-300;
  box-shadow: $inset-shadow-dark;  
}









